@use "@/styles/variables" as *;

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: $bp-md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 16px;
    column-gap: 34px;
  }
}
